
// =========================CONTENT========================================
.classcard{
    background: #fff;
    width: 265px;
    margin-right: 40px;
    margin-bottom: 40px;
    /*border-radius: 10px;*/
    float: left;
    text-align: center;
    position: relative;
    /*padding: 0 0 27px;*/
    transition: all 0.3s;
    }
    /*.classcard:hover{
        background-color: #EAF0F0;
        border-radius: 15px;
    }*/
    .main-text{
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    }
    .buy-block{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.2s, background-color .2s, transform .2s;
    text-align: center;
    color: #242424;
    }
    .card-sale{
    width: 160px;
    margin: 10px auto 22px;
    }
    .btn-buy{
    display: inline-block;
    background: #11d6d4;
    border-radius: 100px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    padding: 0 26px;
    border: none;
    border: 0;
    cursor: pointer;
    position: relative;
    transition: background-color 0s;
    transition: all 0.3s;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    }
    .index-tabs{
            position: relative;
    z-index: 2;
    margin: 0 0 30px;
    background: #fff;
    border-bottom: 2px solid #f4f4f4;
    /*border-radius: 500px;*/
    /*width: 38%;*/
    }

    .index-tabs a:first-child {
    margin-left: 0;
}
    .index-tabs a{
            display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    padding: 15px 0;
    margin: 0 20px;
    position: relative;
    }
    .index-tabs a:before{
        transition: all 0.3s;
    background: none;
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    border-radius: 3px;
    height: 4px;
    background: #ff5eaf;
    }












 // =========================CONTACT========================================
 .red{
color:red;
}
.form-area
{
background-color: #FAFAFA;
padding: 10px 40px 60px;
margin: 10px 0px 60px;
border: 1px solid GREY;
}
.map iframe {
height: 400px;
width: 105%;
border: 0;
/*pointer-events: none;*/
display: block;
margin-right: 200px;
margin-top: 50px;
}

.btn-us{
        display: inline-block;
    background: #11d6d4;
    border-radius: 100px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    padding: 0 26px;
    border: none;
    border: 0;
    cursor: pointer;
    position: relative;
    transition: background-color 0s;
    transition: all 0.3s;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


 // =========================HEADER========================================
.menu{    border: medium none;
    color: #222222;
    font-family: 'PT Sans',sans-serif;
    margin-top: 8px;
    padding: 7px 18px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 20px;}
    .container{
            margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    display: block;
    color: #888888;
    font-family: 'Open Sans',sans-serif;
        font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #555555;
    line-height: 175%
    }